<?xml version='1.0'?> 
<document>

<config>
	<param name="activationLevel" value="1"/>
	<param name="activationUrl" value="*"/>
	<param name="adminMenu" value="0"/>
</config>

<install>
	<param name="name" value="sendgrid"/>
	<param name="version" value="1.2.5"/>
	<param name="date" value="27.06.2018"/>
	<param name="title" value="Sendgrid"/>
	<param name="description" value="Email service integration for sendgrid.com"/>
	<param name="preview" value="images/module_preview/sendgrid.jpg"/>
	<param name="tags" value="email"/>
	<param name="author" value="max@msvhost.com"/>
    <param name="installHook" value="SendgridInstall"/>

	<dependency module="msv.core" version="1.0" />
	
	<file dir="module" path="sendgrid/sendgrid.php"/>
	<file dir="module" path="sendgrid/config.xml"/>
	<file dir="content" path="images/module_preview/sendgrid.jpg"/>
</install>

</document>